body,.box{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */  
 }

 body{
 	
 	font-family: monospace;
 	font-size: 125%

 }

.box,aside{
	padding: 20px;
	margin: 30px;
  	border-radius: 6px;  
  	background-color: rgb(230,230,230);	
}
.box{
		border: 2px solid rgb(28,144,243);
}
aside{
	border: 2px solid red;  	
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
 	-moz-box-flex: 1;         /* OLD - Firefox 19- */  
 	-webkit-flex: 1;          /* Chrome */
 	-ms-flex: 1;              /* IE 10 */
 	 flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */		
}

main,.box{
	-webkit-box-flex: 3;      /* OLD - iOS 6-, Safari 3.1-6 */
 	-moz-box-flex: 3;         /* OLD - Firefox 19- */  
	-webkit-flex: 3;          /* Chrome */
 	-ms-flex: 3;              /* IE 10 */
 	 flex: 3;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */		
}

@media(min-width: 900px){
	#educational-skill{
		display: flex;
	}

	#skills{
		-webkit-box-flex: 2;      /* OLD - iOS 6-, Safari 3.1-6 */
 		 -moz-box-flex: 2;         /* OLD - Firefox 19- */  
 		 -webkit-flex: 2;          /* Chrome */
 		 -ms-flex: 2;              /* IE 10 */
 		 flex: 2;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */				
	}


	#interest{
		-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
 		 -moz-box-flex: 1;         /* OLD - Firefox 19- */  
 		 -webkit-flex: 1;          /* Chrome */
 		 -ms-flex: 1;              /* IE 10 */
 		 flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */				
	}
}

p{
	margin: 20px;
}

.box-title{
	margin-top: -35px;
	background-color: white;	
}

a:hover{
	color: rgb(28,144,243);
}
